/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** Main ********/

body {
	color:white;
	font-size:62.5%;
	font-family: 'Gentium Book Basic', serif;
}
h1 {
	font-size:13em;

}
h2 {
	font-size:8em;
}
p {
	font-size: 2em;
	line-height:1.7;
}
h2 + p {
	font-size:3em;
}


.inner {
	position: relative;
	height:100%;

	width:80%;
	margin:0 auto;
}
.rest {
	color:#000000;
	background:#ffffff;
	background: hsl(0, 0%, 100%);
}
.home {
	color:#ffffff;
	background: #000000;
	background: hsl(0, 0%, 0%);
}

.code {
	background:rgba(0,0,0,0.2);
}


.paginate {
	position:fixed;
	right:20px;
	top: 50%;
  transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
}
.paginate a {
	display:block;
	height:20px;
	margin-bottom:5px;
	position:relative;
	padding:4px;
}
.paginate a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.paginate a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.paginate a:hover .hover-text {
	opacity: 1;
}
.paginate a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}




.social-corner {
	position: absolute;
	top:18px;
	right:40px;
}
.social-corner iframe:first-child {
	margin-right:3px;
}
.vertical-center p.cta {
	margin-top:5px;
}
.vertical-center a:link,
.vertical-center a:visited {
	color:black;
	text-decoration:none;
	font-size:0.6em;
}
.ReadMore:hover {
	opacity: 1;
}
.arrow {
	position: relative;
	padding-right:15px;
}

@media (max-width:800px) {
	h1 {
		font-size:15vw;
	}
	h2 {
		font-size:12vw;
	}
	.inner {
		width:70%;

	}
}

#logo {height:60px;
	margin-top: 17px;
}

.first-char{
	float: left;
	font-size: 70px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 6px;

}

.sponsors{
	width: 100%;
	max-height: 60px;
}

#logos{
	position:absolute;
	top: 10px;
	right: 5px;
}

.naslov{
	margin-left:3rem;
}

/* ////// 1st Page section ///////////// */

.block {margin-top:80px;}

.Left-title {color:white;
	margin-right: 10px;
	font-size: 5rem;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;}

.opis {color:white;
	margin-left:120px;}

.opis p{
	font-size: 30px !important;
}

#avtorji {padding-left: 115px;
	padding-bottom: 40px;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	color:white;
	opacity: 0.6;}

.line {width: 1px;
	height: 320px;
	background-color: dimgray;
	margin-left: 30px;}

#arrow {height: 100px;}

#arrowDown{
	position: fixed;
	z-index: 99;
	cursor: pointer;
	left:50%;
	margin-left: -50px;
	bottom: 20px;
}

/* ////////////// 2nd page section ///////*/
.title {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
	font-family:Lora sans-serif;
	font-style:normal;
	font-weight:150;
	color: black;}

.names {
	font-size: 17px;
	font-family:"Slabo 27px", Serif;
	font-style:normal;
	font-weight:400;
	text-align: left;
}

.text {font-size:20px;
	padding-top:15px;
	margin-bottom: -130px;
	font-family:Gentium Book Basic;
	font-style: normal;
	font-weight:500;
	line-height:25px;
	z-index:2;}

.text {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	-webkit-line-clamp:7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	background: -webkit-linear-gradient(top, #000000 0%,#141414 35%,#e5e5e5 54%,#ffffff 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;}

.ReadMore {align-content: center;
	z-index: 1;
	font-family: Montserrat;
	font-size: 22px;}

.ReadMore a{
	color: black;
	opacity: 0.6;
}
.ReadMore a:hover{
	color: black;
	opacity: 1;
	text-decoration: none;
}
#logo {height:45px;}

blockquote {
	font-size: 1.6em;
	font-style: italic;
	margin: auto;
	padding: 0.35em 40px;
	line-height: 1.45;
	position: relative;
	color: #fff;
}

blockquote:before {
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

blockquote:after{
	display: block;
	padding-right: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	right: 20px;
	bottom: -60px;
	color: #7a7a7a;
}

#mainLogo, #about, #social{
	position: fixed;
	z-index: 99;
	cursor: pointer;
	top:20px;
}
#about{
	left: 25px;
	font-size: 25px;
}



#about a,#social a{
	color: white;
}
#about a:hover,#social a:hover{
	color: white;
	text-decoration: none;
}

#social{
	right: 25px;
	font-size: 25px;
}


.button{
	background-color: transparent !important;
	background-repeat:no-repeat !important;
	border: none;
	cursor:pointer;
	overflow: hidden;
}
#mainLogo{
	font-size: 40px;
	left:50%;
	text-align: center;
	width:auto;
	transform:translateX(-50%);
	top: 20px;
}

.white{color:white;}

.black{color:black;}

blockquote cite {
	color: #fff;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

@media screen and (max-width: 760px){
	blockquote{
		font-size:1.4em;
	}
	blockquote:before{
		font-size: 60px;
	}
	blockquote:after{
		font-size: 60px;
	}

	.logo{
		max-width: 90px;
	}

	#logos{
		position: absolute;
		top:17px;
		right:-30px;
	}
	.sponsors{
		max-height: 30px;
		float: right;
		width: auto;
	}
	.naslov{
		margin-left:0rem;
	}
}

